body {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

#img-div{
  display: inline-block;
  text-alighn: center;
  height: 400px;
  width: 800px;
}
#img-caption{
  text-align:center;
  font-size: 15px;
  
}

 img{
    max-width:100%;
    border-radius: 75%;
    height:auto;
   display: block;
}

p {
  font-family:Verdana;
  text-align:center;
}

#subHeading{
  font-size: 20px;
  text-decoration: underline;     
  text-decoration-color: skyblue;
}
a{
  font-family: Arial;
  color: purple;
}
